#map {    
    border: 1px solid #000;
    margin: auto;
    position: relative;
    float: left;
}

#planet-info {
    border: 1px solid #000;
    width: 200px;
    margin-left: 25px;
    height: 250px;
    float: left;
}

.alternative-content {
    display: none;
}