#map {    
    border: 1px solid #000;
    margin: auto;
    float: left;
    position: relative;
}

#planet-info {
    border: 1px solid #000;
    width: 200px;
    margin-left: 25px;
    height: 250px;
    float: left;
}

#off-menu {
    border: 1px solid #000;
    width: 200px;
    margin-left: 25px;
    margin-top: 15px;
    float: left;
}

#playerList .isPlaying {
    font-weight: bold;
}

.alternative-content {
    display: none;
}

#bot-menu {
    clear: left;
    border: 1px solid #000;
    min-width: 300px;
    margin-top: 15px;
    float: left;
}

ul {
    padding: 0;
    margin: 10px 25px;
}