/* GENERIC STYLES */

@widthGame: 1250px;
@heightGame: 800px;
@widthGameMax: 1280px;
@heightGameMax: 800px;

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}


#container {
    overflow: none;
}


/* MENU STYLES */

#game-menu {
    width: 800px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: auto;
    
    ul.menu {

        li {
            .remove-previous-blank-space;
            .align-vertically(40px);
            
            display: inline-block;
            width: 199px;
            height: 40px;
            border-left: 1px solid #000;
            text-align: center;
            border-bottom: 1px solid #000;
            
            &:first-child {
                margin-left: 0;
                border-left: 0;
            }
            
            &.active {
                border-bottom: 0;
            }
        }
    }
    
    #menu-content-presentation, #menu-content-rules, #menu-content-play, #menu-content-credits {
        border-bottom: 1px solid #000;
        display: none;
    }
    
    #menu-content-play {
        .button, .button-disable {
            margin: 5px;
        }
    }
}

/* GAME STYLES */

#game { display: none; }

#map-container {
    max-width: @widthGameMax;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: auto;
    
    canvas {
        display: block;
        margin: auto;
    }
}

/* HEADER */

@headerHeight : 35px;

#header {
    height: @headerHeight;
    max-width: @widthGameMax;
    margin: auto;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    ul#playerList {
        height: @headerHeight;
        display: inline-block;

        li {         
            .align-vertically(@headerHeight);
            
            width: 80px;
            display: inline-block;
            border-right: 1px solid #000;
            text-align: center;
            position: relative;
            
             span {
                display: block;
                height: 100%;
                width: 100%;
            }
            
            &.isPlaying {
                span {
                    background: #444;
                    color: #EEE;
                }
            }
            
            &.selected {
                span {
                    background: #AAA;
                }
            }
            
            .inventory {
                display: none;
                width: 300px;
                position: absolute;
                background: #444;
                color: #EEE;
                left: -1px;
                opacity: 0.8;
                
                border: 1px solid #000;
                
                ul > li {
                    display: block;
                    border: 0;
                    margin-left: 5px;
                    width: auto;
                    text-align: left;
                    
                    span {
                        display: none;
                    }
                    
                    .colorZone {
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        margin-left: 5px;
                        
                        &.a { background: red; }
                        &.b { background: blue; }
                        &.c { background: green; }
                        &.d { background: yellow; }
                    }

                    &:hover { background: #222; }
                    &.selected { background: #000 }
                }
            }
            
            &:hover {
                .inventory {
                    display: block;
                }
            }
        }
    }
    
    p, #weaponsCounter, #invasionSpeed, #recent-events {
        .align-vertically(@headerHeight);
        .remove-previous-blank-space;
    
        display: inline-block;
        padding: 0 5px;
        border-right: 1px solid #000;

        position: relative;
    }
    
    #timer {
        .align-vertically(@headerHeight);
        .remove-previous-blank-space;
        
        width: 150px;
        display: inline-block;
        text-align: center;
        border-right: 1px solid #000;
    }
    
    #weaponsCounter {
        ul {
            display: none;
            position: absolute;
            height: 35px;
            top: 35px;
            color: #FFF;
        
            li {
                background: #444;
                opacity: 0.8;
                width: 75px;
                text-align: center;
            
                &.isFound {
                    background: green;
                }
            }
        }
        
        &:hover {
            ul {
                display: block;
            }
        }
    }
    
    #invasionSpeed {
        #invasionSpeedMeter {
            display: none;
            position: absolute;
            height: 35px;
            top: 35px;
            color: #FFF;
        
            p {
                background: #444;
                opacity: 0.8;
                width: 100px;
                text-align: center;
            
                &.isSelected {
                    background: #AAA;
                }
            }
        }
        
        &:hover {
            #invasionSpeedMeter {
                display: block;
            }
        }
    }

    #recent-events {
        position: relative;

        #chat-log {
            display: none;
            position: absolute;
            left: -1px;
                        
            width: 450px;
            max-height: 580px;
            overflow: auto;

            background: #444;
            color: #FFF;
            opacity: 0.8;

            ul > li {
          
                p {
                    display: inline;
                    border: 0;
                }
            }
        }
        
        &:hover {
            #chat-log { display: block; }
        }
    }
}

/* FOOTER */
@footerHeight : 39px;

#footer {
    max-width: @widthGameMax;
    height: @footerHeight;
    margin: auto;
    border: 1px solid #000;
    
    p {
        .align-vertically(@footerHeight);
        
        display: inline-block;
    }
    
    #planet-info {
        
        p {
            padding: 0 5px;
            border-right: 1px solid #000;
            
            &#threatLvl {
                .remove-previous-blank-space;
            }
        }
        
        .alternative-content {
            display: none;
        }
        
        .info {
            
            display: inline-block;
                        
            p {
                padding: 0 5px;
                border-right: 1px solid #000;
            }
        }
        
        .action {
            display: inline-block;

            li {
                .align-vertically(@footerHeight);
            
                display: inline-block;
                padding: 0 5px;
                border-right: 1px solid #000;
                position: relative;
                
                #moveActions {
                    display: none;
                    position: absolute;
                    bottom: 40px;
                    left: -60px;
                    width: 230px;
                    text-align: center;
                    opacity: 0.8;
                    
                    a {
                        display: block;
                        background: #444;
                        color: #FFF;
                        
                        &:hover {
                            background: #222;
                        }
                    }   
                }
                
                &:hover {
                    #moveActions { display: block; }
                }
            }
        }
    }
    
}

#game-over {
    display: none;
    position: absolute;
    top: 150px;
    left: 350px;
    height: 200px;
    width: 500px;
    background: red;
    color: #FFF;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
}

#win {
    display: none;
    position: absolute;
    top: 150px;
    left: 350px;
    height: 200px;
    width: 500px;
    background: green;
    color: #FFF;
    line-height: 200px;
    font-size: 24px;
    text-align: center;
}


/* MIXINS */


.align-vertically(@px) {
    height: @px;
    line-height: @px;
}

.remove-previous-blank-space {
    margin-left: -4px;
}

.disable {
    opacity: 0.6;
}

.button {
    background: -moz-linear-gradient(center top, #2C579C, #208090) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top, #2C579C, #208090) repeat scroll 0 0 transparent;    
    border: 1px solid transparent;
    border-radius: 5px;
    color: #FAF7E9;
    display: inline-block;
    margin: 0;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button-disable {
    background: -moz-linear-gradient(center top, #555, #AAA) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top, #555, #AAA) repeat scroll 0 0 transparent;    
    border-radius: 5px;
    color: #FAF7E9;
    display: inline-block;
    margin: 0;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}