/* GENERIC STYLES */

@widthGame: 1250px;
@heightGame: 800px;
@widthGameMax: 1280px;
@heightGameMax: 800px;

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}


#container {
    overflow: none;
}

#map-container {
    max-width: @widthGameMax;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: auto;
    
    canvas {
        display: block;
        margin: auto;
    }
}

/* HEADER */

@headerHeight : 35px;

#header {
    height: @headerHeight;
    max-width: @widthGameMax;
    margin: auto;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    ul#playerList {
        height: @headerHeight;
        display: inline-block;

        li {
            .align-vertically(@headerHeight);
            
            width: 80px;
            display: inline-block;
            border-right: 1px solid #000;
            text-align: center;
            position: relative;
            
             span {
                display: block;
                height: 100%;
                width: 100%;
            }
            
            &.isPlaying {
                span {
                    background: #444;
                    color: #EEE;
                }
            }
            
            .inventory {
                display: none;
                width: 300px;
                position: absolute;
                background: #444;
                color: #EEE;
                left: -1px;
                
                border: 1px solid #000;
                
                ul > li {
                    display: block;
                    border: 0;
                    margin-left: 5px;
                    width: auto;
                    text-align: left;
                    
                    span {
                        display: none;
                    }
                }
            }
            
            &:hover {
                .inventory {
                    display: block;
                }
            }
        }
    }
    
    p {
        .align-vertically(@headerHeight);
        .remove-previous-blank-space;
    
        display: inline-block;
        padding: 0 5px;
        border-right: 1px solid #000;        
    }
    
    #timer {
        .align-vertically(@headerHeight);
        .remove-previous-blank-space;
        
        width: 150px;
        display: inline-block;
        text-align: center;
        border-right: 1px solid #000;
    }
}

/* FOOTER */
@footerHeight : 39px;

#footer {
    max-width: @widthGameMax;
    height: @footerHeight;
    margin: auto;
    border: 1px solid #000;
    
    p {
        .align-vertically(@footerHeight);
        
        display: inline-block;
    }
    
    #planet-info {
        
        p {
            padding: 0 5px;
            border-right: 1px solid #000;
            
            &#threatLvl {
                .remove-previous-blank-space;
            }
        }
        
        .alternative-content {
            display: none;
        }
        
        .info {
            
            display: inline-block;
                        
            p {
                padding: 0 5px;
                border-right: 1px solid #000;
            }
        }
        
        .action {
            display: inline-block;

            li {
                .align-vertically(@footerHeight);
            
                display: inline-block;
                padding: 0 5px;
                border-right: 1px solid #000;
            }
        }
    }
    
}

#game-over {
    display: none;
    position: absolute;
    top: 150px;
    left: 350px;
    height: 200px;
    width: 500px;
    background: red;
    color: #FFF;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
}


/* MIXINS */


.align-vertically(@px) {
    height: @px;
    line-height: @px;
}

.remove-previous-blank-space {
    margin-left: -4px;
}